<ul>
    <li id="menu_home"><a href="/">Home</a></li>
    <li id="menu_contato"><a href="/contato">Contato</a></li>
    <li id="menu_sobre"><a href="/sobre">Sobre</a></li>
    <li id="menu_teste"><a href="#">Home</a></li>    
</ul>