<div class="form-box" style="width: 250px;">
    <form action="/formulario" method="POST">
        <label for="nome">Nome</label><br>
        <input type="text" name="nome"><br>
        <label for="email">Email</label><br>
        <input type="email" name="email"><br>
        <label for="email">Mensagem</label><br>
        <textarea name="mensagem" rows="5" cols="33"></textarea><br>
        <input type="submit" value="Enviar">
    </form>
</div>