<form action="/formulario" method="POST">
    <label for="nome">Nome</label>
    <input type="text" name="nome"><br>
    <label for="email">Email</label>
    <input type="email" name="email"><br>
    <label for="email">Mensagem</label>
    <input type="text" name="mensagem"><br>
    <input type="submit" value="Enviar">
</form>