<div class="form-box" style="width: 250px;">
    <form action="/formulario" method="POST">
        <label for="nome">Nome</label><br>
        <input type="text" name="nome" id="nome"><br>
        <label for="email">Email</label><br>
        <input type="email" name="email" id="email"><br>
        <label for="email">Mensagem</label><br>
        <textarea name="mensagem" rows="5" cols="200" id="mensagem"></textarea><br>
        <span>200</span><br>
        <input type="submit" id="btn_enviar" value="Enviar">
    </form>
</div>